[report]
show_missing = True
skip_covered = True
precision = 2
exclude_lines =
    # Ignore unreachable code
    if __name__ == .__main__.:

    # Specifically ignore a line with this text
    pragma: no cover
